# Market Basket Analysis:
                       is the process that identifies products frequently purchased together to uncover customer buying patterns. It helps businesses optimize recommendations, cross-selling, and product placement.

In [12]:
import pandas as pd
from mlxtend.frequent_patterns import apriori, association_rules

In [13]:
# Load your dataset
data = pd.read_excel('Dataset Market Basket Analysis.xlsx')

# Clean the dataset by removing rows with missing CustomerID
data_cleaned = data.dropna(subset=['CustomerID'])

data_cleaned

C:\Users\PMLS\anaconda3\Lib\site-packages\openpyxl\packaging\core.py:99: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  now = datetime.datetime.utcnow()
C:\Users\PMLS\anaconda3\Lib\site-packages\openpyxl\packaging\core.py:99: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  now = datetime.datetime.utcnow()

,BillNo,Itemname,Quantity,Date,Price,CustomerID,Country
0,536365,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...
3995,536744,CHILDRENS APRON SPACEBOY DESIGN,10,2010-12-02 13:36:00,1.95,14466.0,United Kingdom
3996,536744,36 FOIL STAR CAKE CASES,6,2010-12-02 13:36:00,2.10,14466.0,United Kingdom
3997,536744,36 FOIL HEART CAKE CASES,6,2010-12-02 13:36:00,2.10,14466.0,United Kingdom
3998,536744,VINTAGE UNION JACK APRON,6,2010-12-02 13:36:00,6.95,14466.0,United Kingdom
3999,536744,REGENCY CAKESTAND 3 TIER,6,2010-12-02 13:36:00,12.75,14466.0,United Kingdom

In [14]:
# Create a basket format by grouping transactions
basket = (data_cleaned.groupby(['BillNo', 'Itemname'])['Quantity']
          .sum().unstack().reset_index().fillna(0)
          .set_index('BillNo'))

# Convert quantities to 1s and 0s (binary representation)
def encode_units(x):
    return 1 if x >= 1 else 0

basket_encoded = basket.applymap(encode_units)

C:\Users\PMLS\AppData\Local\Temp\ipykernel_3096\586645422.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  basket_encoded = basket.applymap(encode_units)

In [15]:
# Apply the Apriori algorithm to find frequent itemsets 
#Minimum support (min_support) is the threshold used in Market Basket Analysis to filter out itemsets that appear too infrequently.
frequent_itemsets = apriori(basket_encoded, min_support=0.05, use_colnames=True)

C:\Users\PMLS\anaconda3\Lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:109: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

In [16]:
# Generate association rules with a minimum confidence of 0.7
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.7)

In [17]:
# Print relevant columns from the association rules
print(rules[['antecedents', 'consequents', 'support', 'confidence', 'lift']])

                                  antecedents  \
0         (GLASS STAR FROSTED T-LIGHT HOLDER)
1            (CREAM CUPID HEARTS COAT HANGER)
2            (CREAM CUPID HEARTS COAT HANGER)
3            (CREAM CUPID HEARTS COAT HANGER)
4                (RETRO COFFEE MUGS ASSORTED)
...                                       ...
4875884                 (WHITE METAL LANTERN)
4875885  (WOOD 2 DRAWER CABINET WHITE FINISH)
4875886     (VINTAGE BILLBOARD LOVE/HATE MUG)
4875887   (WOOD S/3 CABINET ANT WHITE FINISH)
4875888          (WOODEN FRAME ANTIQUE WHITE)

                                               consequents   support  \
0                         (CREAM CUPID HEARTS COAT HANGER)  0.059140
1                      (GLASS STAR FROSTED T-LIGHT HOLDER)  0.059140
2                    (KNITTED UNION FLAG HOT WATER BOTTLE)  0.059140
3                         (RED WOOLLY HOTTIE WHITE HEART.)  0.059140
4                         (CREAM CUPID HEARTS COAT HANGER)  0.053763
...                                                    ...       ...
4875884  (WOODEN PICTURE FRAME WHITE FINISH, RETRO COFF...  0.053763
4875885  (WOODEN PICTURE FRAME WHITE FINISH, RETRO COFF...  0.053763
4875886  (WOODEN PICTURE FRAME WHITE FINISH, RETRO COFF...  0.053763
4875887  (WOODEN PICTURE FRAME WHITE FINISH, RETRO COFF...  0.053763
4875888  (WOODEN PICTURE FRAME WHITE FINISH, RETRO COFF...  0.053763

         confidence       lift
0          0.846154  12.106509
1          0.846154  12.106509
2          0.846154   9.836538
3          0.846154   7.494505
4          0.769231  11.005917
...             ...        ...
4875884    0.769231  14.307692
4875885    0.714286  13.285714
4875886    0.833333  15.500000
4875887    0.769231  14.307692
4875888    0.714286  13.285714

[4875889 rows x 5 columns]